api = "0.8"

[buildpack]
  description = "A buildpack for installing the approriate version of ICU (International Components for Unicode)"
  homepage = "https://github.com/paketo-buildpacks/icu"
  id = "paketo-buildpacks/icu"
  keywords = ["dotnet", "ICU", "unicode"]
  name = "Paketo Buildpack for ICU"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/icu/blob/main/LICENSE"

[metadata]
  include-files = ["buildpack.toml", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/run", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/run"]
  pre-package = "./scripts/build.sh --target linux/amd64 --target linux/arm64"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:7f8064f5b13ce60857d62253a08a9283f627e62d53f879d11c8062b5f1caa0e7"
    cpe = "cpe:2.3:a:icu-project:international_components_for_unicode:78.2:*:*:*:*:c\\/c\\+\\+:*:*"
    id = "icu"
    licenses = ["BSD-2-Clause", "BSD-3-Clause", "ICU", "Unicode-TOU"]
    name = "ICU"
    os = "linux"
    purl = "pkg:generic/icu@78.2?checksum=92feddfe81c57336f386c7cbc9f6d976bf349db148a77a247c4559676f51116115c8c52c4d907feb50933f72ab75fd8e48be092bf9c8ca33a3e8fabc9372a5d6&download_url=https://github.com/unicode-org/icu/releases/download/release-78.2/icu4c-78.2-sources.tgz"
    source = "https://github.com/unicode-org/icu/releases/download/release-78.2/icu4c-78.2-sources.tgz"
    source-checksum = "sha512:92feddfe81c57336f386c7cbc9f6d976bf349db148a77a247c4559676f51116115c8c52c4d907feb50933f72ab75fd8e48be092bf9c8ca33a3e8fabc9372a5d6"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/icu/icu_78.2_linux_amd64_jammy_7f8064f5.tgz"
    version = "78.2"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:4764ca4865d8328db09f565b512142000e41b38696102cab22e368a5c4064fce"
    cpe = "cpe:2.3:a:icu-project:international_components_for_unicode:78.2:*:*:*:*:c\\/c\\+\\+:*:*"
    id = "icu"
    licenses = ["BSD-2-Clause", "BSD-3-Clause", "ICU", "Unicode-TOU"]
    name = "ICU"
    os = "linux"
    purl = "pkg:generic/icu@78.2?checksum=92feddfe81c57336f386c7cbc9f6d976bf349db148a77a247c4559676f51116115c8c52c4d907feb50933f72ab75fd8e48be092bf9c8ca33a3e8fabc9372a5d6&download_url=https://github.com/unicode-org/icu/releases/download/release-78.2/icu4c-78.2-sources.tgz"
    source = "https://github.com/unicode-org/icu/releases/download/release-78.2/icu4c-78.2-sources.tgz"
    source-checksum = "sha512:92feddfe81c57336f386c7cbc9f6d976bf349db148a77a247c4559676f51116115c8c52c4d907feb50933f72ab75fd8e48be092bf9c8ca33a3e8fabc9372a5d6"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/icu/icu_78.2_linux_arm64_jammy_4764ca48.tgz"
    version = "78.2"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:6745f91c97f8b6262a84aaa14df4a0f6eda402b96dc600fca5de587417bd65da"
    cpe = "cpe:2.3:a:icu-project:international_components_for_unicode:78.2:*:*:*:*:c\\/c\\+\\+:*:*"
    id = "icu"
    licenses = ["BSD-2-Clause", "BSD-3-Clause", "ICU", "Unicode-TOU"]
    name = "ICU"
    os = "linux"
    purl = "pkg:generic/icu@78.2?checksum=92feddfe81c57336f386c7cbc9f6d976bf349db148a77a247c4559676f51116115c8c52c4d907feb50933f72ab75fd8e48be092bf9c8ca33a3e8fabc9372a5d6&download_url=https://github.com/unicode-org/icu/releases/download/release-78.2/icu4c-78.2-sources.tgz"
    source = "https://github.com/unicode-org/icu/releases/download/release-78.2/icu4c-78.2-sources.tgz"
    source-checksum = "sha512:92feddfe81c57336f386c7cbc9f6d976bf349db148a77a247c4559676f51116115c8c52c4d907feb50933f72ab75fd8e48be092bf9c8ca33a3e8fabc9372a5d6"
    stacks = ["io.buildpacks.stacks.noble"]
    uri = "https://artifacts.paketo.io/icu/icu_78.2_linux_amd64_noble_6745f91c.tgz"
    version = "78.2"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:a81f0bcf456b622f4727d83f6a1fc856dba0a8da64274d82eda10a0d08e92022"
    cpe = "cpe:2.3:a:icu-project:international_components_for_unicode:78.2:*:*:*:*:c\\/c\\+\\+:*:*"
    id = "icu"
    licenses = ["BSD-2-Clause", "BSD-3-Clause", "ICU", "Unicode-TOU"]
    name = "ICU"
    os = "linux"
    purl = "pkg:generic/icu@78.2?checksum=92feddfe81c57336f386c7cbc9f6d976bf349db148a77a247c4559676f51116115c8c52c4d907feb50933f72ab75fd8e48be092bf9c8ca33a3e8fabc9372a5d6&download_url=https://github.com/unicode-org/icu/releases/download/release-78.2/icu4c-78.2-sources.tgz"
    source = "https://github.com/unicode-org/icu/releases/download/release-78.2/icu4c-78.2-sources.tgz"
    source-checksum = "sha512:92feddfe81c57336f386c7cbc9f6d976bf349db148a77a247c4559676f51116115c8c52c4d907feb50933f72ab75fd8e48be092bf9c8ca33a3e8fabc9372a5d6"
    stacks = ["io.buildpacks.stacks.noble"]
    uri = "https://artifacts.paketo.io/icu/icu_78.2_linux_arm64_noble_a81f0bcf.tgz"
    version = "78.2"

  [[metadata.dependency-constraints]]
    constraint = "*"
    id = "icu"
    patches = 1

[[stacks]]
  id = "io.buildpacks.stacks.jammy"

[[stacks]]
  id = "io.buildpacks.stacks.noble"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
