api = "0.8"

[buildpack]
  description = "A buildpack for installing the approriate version of ICU (International Components for Unicode)"
  homepage = "https://github.com/paketo-buildpacks/icu"
  id = "paketo-buildpacks/icu"
  keywords = ["dotnet", "ICU", "unicode"]
  name = "Paketo Buildpack for ICU"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/icu/blob/main/LICENSE"

[metadata]
  include-files = ["buildpack.toml", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/run", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/run"]
  pre-package = "./scripts/build.sh --target linux/amd64 --target linux/arm64"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:2da2a1585fe8d170a964502d726dc675efd53f262afecf57cc12ddc7b122ba56"
    cpe = "cpe:2.3:a:icu-project:international_components_for_unicode:78.2:*:*:*:*:c\\/c\\+\\+:*:*"
    id = "icu"
    licenses = ["BSD-2-Clause", "BSD-3-Clause", "ICU", "Unicode-TOU"]
    name = "ICU"
    os = "linux"
    purl = "pkg:generic/icu@78.2?checksum=92feddfe81c57336f386c7cbc9f6d976bf349db148a77a247c4559676f51116115c8c52c4d907feb50933f72ab75fd8e48be092bf9c8ca33a3e8fabc9372a5d6&download_url=https://github.com/unicode-org/icu/releases/download/release-78.2/icu4c-78.2-sources.tgz"
    source = "https://github.com/unicode-org/icu/releases/download/release-78.2/icu4c-78.2-sources.tgz"
    source-checksum = "sha512:92feddfe81c57336f386c7cbc9f6d976bf349db148a77a247c4559676f51116115c8c52c4d907feb50933f72ab75fd8e48be092bf9c8ca33a3e8fabc9372a5d6"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/icu/icu_78.2_linux_amd64_jammy_2da2a158.tgz"
    version = "78.2"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:e1f25c51db86275826a2f7057dada1b8ea7f45c349391247e9fe9d664514db13"
    cpe = "cpe:2.3:a:icu-project:international_components_for_unicode:78.2:*:*:*:*:c\\/c\\+\\+:*:*"
    id = "icu"
    licenses = ["BSD-2-Clause", "BSD-3-Clause", "ICU", "Unicode-TOU"]
    name = "ICU"
    os = "linux"
    purl = "pkg:generic/icu@78.2?checksum=92feddfe81c57336f386c7cbc9f6d976bf349db148a77a247c4559676f51116115c8c52c4d907feb50933f72ab75fd8e48be092bf9c8ca33a3e8fabc9372a5d6&download_url=https://github.com/unicode-org/icu/releases/download/release-78.2/icu4c-78.2-sources.tgz"
    source = "https://github.com/unicode-org/icu/releases/download/release-78.2/icu4c-78.2-sources.tgz"
    source-checksum = "sha512:92feddfe81c57336f386c7cbc9f6d976bf349db148a77a247c4559676f51116115c8c52c4d907feb50933f72ab75fd8e48be092bf9c8ca33a3e8fabc9372a5d6"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/icu/icu_78.2_linux_arm64_jammy_e1f25c51.tgz"
    version = "78.2"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:193b393782434d34ce1e5fa523b2bebb36d7c0182b28aa9bc42a2ee09c7713c9"
    cpe = "cpe:2.3:a:icu-project:international_components_for_unicode:78.2:*:*:*:*:c\\/c\\+\\+:*:*"
    id = "icu"
    licenses = ["BSD-2-Clause", "BSD-3-Clause", "ICU", "Unicode-TOU"]
    name = "ICU"
    os = "linux"
    purl = "pkg:generic/icu@78.2?checksum=92feddfe81c57336f386c7cbc9f6d976bf349db148a77a247c4559676f51116115c8c52c4d907feb50933f72ab75fd8e48be092bf9c8ca33a3e8fabc9372a5d6&download_url=https://github.com/unicode-org/icu/releases/download/release-78.2/icu4c-78.2-sources.tgz"
    source = "https://github.com/unicode-org/icu/releases/download/release-78.2/icu4c-78.2-sources.tgz"
    source-checksum = "sha512:92feddfe81c57336f386c7cbc9f6d976bf349db148a77a247c4559676f51116115c8c52c4d907feb50933f72ab75fd8e48be092bf9c8ca33a3e8fabc9372a5d6"
    stacks = ["io.buildpacks.stacks.noble"]
    uri = "https://artifacts.paketo.io/icu/icu_78.2_linux_amd64_noble_193b3937.tgz"
    version = "78.2"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:45d5e6b5a0a7987270d16bef8d97825d6b187bcb11041f16308019049565f9ca"
    cpe = "cpe:2.3:a:icu-project:international_components_for_unicode:78.2:*:*:*:*:c\\/c\\+\\+:*:*"
    id = "icu"
    licenses = ["BSD-2-Clause", "BSD-3-Clause", "ICU", "Unicode-TOU"]
    name = "ICU"
    os = "linux"
    purl = "pkg:generic/icu@78.2?checksum=92feddfe81c57336f386c7cbc9f6d976bf349db148a77a247c4559676f51116115c8c52c4d907feb50933f72ab75fd8e48be092bf9c8ca33a3e8fabc9372a5d6&download_url=https://github.com/unicode-org/icu/releases/download/release-78.2/icu4c-78.2-sources.tgz"
    source = "https://github.com/unicode-org/icu/releases/download/release-78.2/icu4c-78.2-sources.tgz"
    source-checksum = "sha512:92feddfe81c57336f386c7cbc9f6d976bf349db148a77a247c4559676f51116115c8c52c4d907feb50933f72ab75fd8e48be092bf9c8ca33a3e8fabc9372a5d6"
    stacks = ["io.buildpacks.stacks.noble"]
    uri = "https://artifacts.paketo.io/icu/icu_78.2_linux_arm64_noble_45d5e6b5.tgz"
    version = "78.2"

  [[metadata.dependency-constraints]]
    constraint = "*"
    id = "icu"
    patches = 1

[[stacks]]
  id = "io.buildpacks.stacks.jammy"

[[stacks]]
  id = "io.buildpacks.stacks.noble"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
